@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb)))
    rgb(var(--background-start-rgb));
}

.custom-scroll::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: none;
}

.image-with-shadow {
  transition: box-shadow 0.3s ease; 
}

.image-with-shadow:hover {
   /* box-shadow: 0 0 31px rgba(0, 0, 0, 0.5);  */
  border-width: 1.7px;
  border-color: rgb(0, 170, 255);
}

.text-with-fade-in {
  animation: fadeIn 15s forwards;
}

.gradient-q {
  background:
  linear-gradient(to right,  #88cceb9d,   #c6dcf9,#f1f7ff,#f1f7ff, #f1f7ff, #becefd,#8AA4F3)
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes levitate {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float {
	0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-4px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}
// @keyframes floatS {
// 	0% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
//   }
// 	50% {
// 		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
// 	}
// 	100% {
// 		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
// 	}
// }

.levitating-image {
  width: 57%;
  position: absolute;
  top: var(--top-position, 5%);
  left: 22%;
  border-radius: 15px;
  border-width: 4px;
  border-color: #ffffff; 
  z-index: 3;
  padding: 5px;
  animation: float 4s ease-in-out infinite; 
  transition: transform 3.3s ease-in-out; 
  background-color: rgba(36, 21, 50, 0.925);
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);

  }
  0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
		transform: translatey(-10px);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
		transform: translatey(0px);
	}
}

@keyframes floatS {
  0% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
	50% {
		box-shadow: 0 25px 15px 0px rgba(0,0,0,0.2);
	}
	100% {
		box-shadow: 0 5px 15px 0px rgba(0,0,0,0.6);
	}
}

/* Стили при наведении */
.levitating-image:hover {
  --top-position: 5%;
  transform: translateY(0); 
  /* box-shadow: 0 0px 30px rgba(0, 119, 255, 0.811);  */
  transition: transform 13.5s ease-in-out;
  border-width: 8px;
  border-color: rgb(255, 255, 255);
  /* animation: none; */
}



.container {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // position: relative;
}

.background {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

  mask-image: radial-gradient(
    white 0%,
    white 30%,
    transparent 80%,
    transparent
  );
}

.circle-container {
  $particleNum: 500;
  $particleColor: hsl(180, 100%, 80%);

  position: absolute;
  transform: translateY(-10vh);
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  .circle {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    mix-blend-mode: screen;
    background-image: radial-gradient(
      hsl(180, 100%, 80%),
      hsl(180, 100%, 80%) 10%,
      hsla(180, 100%, 80%, 0) 56%
    );

    animation: fadein-frames 200ms infinite, scale-frames 2s infinite;

    @keyframes fade-frames {
      0% {
        opacity: 1;
      }

      50% {
        opacity: 0.7;
      }

      100% {
        opacity: 1;
      }
    }

    @keyframes scale-frames {
      0% {
        transform: scale3d(0.4, 0.4, 1);
      }

      50% {
        transform: scale3d(2.2, 2.2, 1);
      }

      100% {
        transform: scale3d(0.4, 0.4, 1);
      }
    }
  }

  $particleBaseSize: 8;

  
  @for $i from 1 through $particleNum {
    &:nth-child(#{$i}) {
      $circleSize: random($particleBaseSize);
      width: $circleSize + px;
      height: $circleSize + px;

      $startPositionY: random(10) + 100;
      $framesName: "move-frames-" + $i;
      $moveDuration: 28000 + random(9000) + ms;

      animation-name: #{$framesName};
      animation-duration: $moveDuration;
      animation-delay: random(37000) + ms;

      @keyframes #{$framesName} {
        from {
          transform: translate3d(
            #{random(100) + vw},
            #{$startPositionY + vh},
            0
          );
        }

        to {
          transform: translate3d(
            #{random(100) + vw},
            #{- $startPositionY - random(30) + vh},
            0
          );
        }
      }

      .circle {
        animation-delay: random(4000) + ms;
      }
    }
  }
}

.message {
  position: absolute;
  right: 20px;
  bottom: 10px;
  color: white;
  font-family: "Josefin Slab", serif;
  line-height: 27px;
  font-size: 18px;
  text-align: right;
  pointer-events: none;
  animation: message-frames 1.5s ease 5s forwards;
  opacity: 0;
  
  @keyframes message-frames {
    from {
      opacity: 0;
    }
    
    to {
      opacity: 1;
    }
  }
}





.wrap {
  position: absolute;
  margin: 0 auto;
  // width: 250px;
  // height: 350px;
  cursor: pointer;
  perspective: 800px;
  z-index: 3;
  animation: float 4s ease-in-out infinite; 
  border: none;
  background: none;

  border-radius: 15px;
  width: 57%;
  top: var(--top-position, 5%);
  left: 22%;
}

.wrap div {
  // width: 100%;
  // height: 100%;
  // border-radius: 10px;
  // background-position: 50% 50%;
  background-size: 250px;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 45px rgba(255, 255, 255, 0.3), 0 12px 20px -10px rgba(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  text-shadow: 0 1px rgba(0, 0, 0, 0.3);
  font: bold 3em sans-serif;
  // line-height: 350px;
  backface-visibility: hidden;
  position: absolute;

  // width: 57%;
  // top: var(--top-position, 5%);
  // left: 22%;
  border-radius: 15px;
  border-width: 4px;
  border-color: #ffffff; 
  z-index: 3;
  padding: 5px;
  background-color: rgba(36, 21, 50, 0.925);
  animation: floatS 4s ease-in-out infinite; 

}

.side-a {
  background: black;
  transform: rotateY(0deg);
  z-index: 100;
  transition: transform 0.5s ease-in-out;
  
}

.side-b {
  background: grey;
  transform: rotateY(180deg);
  z-index: 101;
  transition: transform 0.5s ease-in-out;
}

.wrap:hover .side-a {
  // animation: none;
  // transform: rotateY(-180deg);
  border-width: 8px;
  border-color: rgb(255, 255, 255);
  box-shadow:  0 0 45px rgba(243, 248, 252, 0.767);

}

.wrap:hover .side-b {
  // animation: none;
  // transform: rotateY(0deg);
  border-width: 8px;
  border-color: rgb(255, 255, 255);
  box-shadow:  0 0 45px rgba(250, 252, 255, 0.767);
}

.side-a.flipped {
  transform: rotateY(-180deg);
}

.side-b.flipped {
  transform: rotateY(0deg);
}